/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
*pycache*
.mypy_cache/
.pytest_cache/
.coverage
.venv/
.ds_store
.DS_Store

# output files
*.csv
*.vtr
*.egg-info/

# Build directory
/Build/
/build/
/dist/
packaging/ExaFlow.icns
/out/
/in/

# Simulations
/Simulations/*
!/Simulations/create_simulation_directories.py
